// =============================================================================
// Campton font regular & italic 100 - 900
// =============================================================================
@font-face {
    font-family: "Campton";
    font-weight: 100;
    font-style: normal;
    src: url("../fonts/CamptonThin.otf") format("opentype");
}

@font-face {
    font-family: "Campton";
    font-weight: 100;
    font-style: italic;
    src: url("../fonts/CamptonThinItalic.otf") format("opentype");
}

@font-face {
    font-family: "Campton";
    font-weight: 200;
    font-style: normal;
    src: url("../fonts/CamptonExtraLight.otf") format("opentype");
}

@font-face {
    font-family: "Campton";
    font-weight: 200;
    font-style: italic;
    src: url("../fonts/CamptonExtraLightItalic.otf") format("opentype");
}

@font-face {
    font-family: "Campton";
    font-weight: 300;
    font-style: normal;
    src: url("../fonts/CamptonLight.otf") format("opentype");
}

@font-face {
    font-family: "Campton";
    font-weight: 300;
    font-style: italic;
    src: url("../fonts/CamptonLightItalic.otf") format("opentype");
}

@font-face {
    font-family: "Campton";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/CamptonBook.otf") format("opentype");
}

@font-face {
    font-family: "Campton";
    font-weight: 400;
    font-style: italic;
    src: url("../fonts/CamptonBookItalic.otf") format("opentype");
}

@font-face {
    font-family: "Campton";
    font-weight: 500;
    font-style: normal;
    src: url("../fonts/CamptonMedium.otf") format("opentype");
}

@font-face {
    font-family: "Campton";
    font-weight: 500;
    font-style: italic;
    src: url("../fonts/CamptonMediumItalic.otf") format("opentype");
}

@font-face {
    font-family: "Campton";
    font-weight: 600;
    font-style: normal;
    src: url("../fonts/CamptonSemiBold.otf") format("opentype");
}

@font-face {
    font-family: "Campton";
    font-weight: 600;
    font-style: italic;
    src: url("../fonts/CamptonSemiBoldItalic.otf") format("opentype");
}

@font-face {
    font-family: "Campton";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/CamptonBold.otf") format("opentype");
}

@font-face {
    font-family: "Campton";
    font-weight: 700;
    font-style: italic;
    src: url("../fonts/CamptonBoldItalic.otf") format("opentype");
}

@font-face {
    font-family: "Campton";
    font-weight: 800;
    font-style: normal;
    src: url("../fonts/CamptonExtraBold.otf") format("opentype");
}

@font-face {
    font-family: "Campton";
    font-weight: 800;
    font-style: italic;
    src: url("../fonts/CamptonExtraBoldItalic.otf") format("opentype");
}

@font-face {
    font-family: "Campton";
    font-weight: 900;
    font-style: normal;
    src: url("../fonts/CamptonBlack.otf") format("opentype");
}

@font-face {
    font-family: "Campton";
    font-weight: 900;
    font-style: italic;
    src: url("../fonts/CamptonBlackItalic.otf") format("opentype");
}
